{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}

    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Log in</h3>
                            <form action="/login/" method="post">{% csrf_token %}
                                <div class="form-outline mb-4">
                                    {% bootstrap_form form %}
                                </div>
                                <input type="submit" value="Log-in" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}